@import '../../lib/variables.scss';
.gecko-grid-layout-image {
	position: relative;
	z-index: 1;
	min-height: 200px;

	&__image {
		position: absolute;
		height: 100% !important; // For editor at the moment. Will need to be removed.
		width: 100% !important; // For editor at the moment. Will need to be removed.
		object-fit: cover;
		object-position: center;
		z-index: -1;
	}

	&__caption {
		padding: 1rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: inherit;
		height: 100%;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.75);
	}

	&.is-style-no-caption & {
		&__caption {
			opacity: 0;
		}
	}

	&.is-style-hover & {
		&__caption {
			opacity: 0;
			transition: all 250ms ease-in-out;
		}
	}

	&.is-style-hover {
		&:hover {
			.gecko-grid-layout-image__caption {
				opacity: 1;
			}
		}
	}
}
