// Color Defaults
// Preface each color with $color- followed by the name
// Theme Colors
$color-dusk: #00314A;
$color-quantum: #007FAF;
$color-cornflower: #53A4CE;
$color-breath: #8CD0F3;
$color-salamander: #E24517;
$color-clay: #B9622E;
$color-cloud:  #E9E9E9;
$color-slate: #4A4A4A;
$color-orange: #FF5F00;
$color-light-grey: #D7D7D7;

// Base Black & White & Grey
$color-grey: #919191;
$color-black: $color-slate;
$color-white: #FFFFFF;

// Core Colors
// These Variables should not be removed but feel free to change them :)
// Skeleton Variables
$color-primary: $color-quantum;
$color-secondary: $color-grey;
$color-highlight: $color-salamander;
// Notices
$color-error: #D50000;
$color-success: #3BA25F;
$color-notice: #0277BD;

// Default Sizes for mixins
$default-row-width: 76.05rem; // 71.25rem
$row-width-large: $default-row-width;
$row-width-medium: 63.6rem;
$row-width-small: 53.33rem;

$default-title-size: 2.5rem;

// Mobile Breakpoints
// Preface = $bp-
// Followed by name and then the modifier.
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop-small: 1200px;
$bp-desktop: 1369px;
$bp-desktop-large: 1600px;

// Fonts & Typography
// You should enqueue fonts for Page Optimization Points, this is done in the core.php
// The @import method of retrieving CSS files creates some problems that affect your page speed.
// The largest problem is that it causes files to load sequentially (one has to wait for the other) instead of in parallel (at the same time).
// This wastes times and round trips and makes your web page load slower
// https://varvy.com/pagespeed/avoid-css-import.html
$font-header: "Montserrat", sans-serif;
$font-body: "Montserrat", sans-serif;
$font-body-color: $color-black;
$font-header-color: $color-black;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.35rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1.1rem;
$font-size-p: 1rem;
$font-size-sm: 0.9rem;
$font-size-xs: 0.75rem;
$line-height-p: 1.55em;

// Forms
$input-background: #EFEFEF;
$input-border: #E0E0E0;
// Tables
$table-row-even-color: #f9f9f9;
$table-row-odd-color: #fefefe;
$table-head-color: #f3f3f3;
$table-foot-color: #f3f3f3;
$table-border-color: #f1f1f1;

// Buttons
$button-bg: linear-gradient(-141deg, $color-salamander, 75%, $color-orange);
$button-bg-hover: linear-gradient(141deg, $color-salamander, 75%, $color-orange);


// Pre, Code
$code-border: #f1f1f1;
$code-background: #fefefe;
$code-color: $color-black;

// Woocommerce
$woo-color-primary: $color-primary; // Primary color for buttons (alt)
$woo-color-primary-text: desaturate(lighten($color-primary, 50%), 18%);
$woo-color-secondary: $color-secondary; // Secondary buttons
$woo-color-secondary-text: desaturate(darken($color-secondary, 60%), 21%);
$woo-color-highlight: $color-highlight; // Prices, In stock labels, sales flash
$woo-color-highlight-text: desaturate(lighten($color-highlight, 50%), 18%);
$woo-color-content-bg: $color-white;
$woo-color-subtext: lighten($color-black, 5%); // small, breadcrumbs etc