@import "variables.scss";
.gecko-facebook-events {
	display: grid;
	grid-template-columns: repeat(12, minmax(1rem, 1fr));
	grid-gap: 1rem;
	grid-auto-rows: minmax(calc(100vw/12), auto);
	grid-auto-flow: dense;
	&__event {
		grid-column-end: span 4;
		// grid-column-end: var(--grid-column-end);
		grid-row-end: span 1;
		// grid-row-end: var(--grid-row-end);
		@media (max-width: $bp-tablet) {
			grid-column: 1 / -1 !important;
			grid-column-start: 1 !important;
			grid-column-end: -1 !important;
			grid-gap: 0rem;
		}
	}
	&__cover {
		// position: absolute;
		height: 30vh !important; // For editor at the moment. Will need to be removed.
		max-height: 300px;
		width: 100% !important; // For editor at the moment. Will need to be removed.
		img{
			height: 100% !important; // For editor at the moment. Will need to be removed.
			width: 100% !important; // For editor at the moment. Will need to be removed.
			object-fit: cover;
			object-position: center;
		}
	}
	&__button {
		margin: 0px auto;
	}
	&__date {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
}