.gecko-icon-box {
    // border: 1px dashed firebrick;

	&__choose-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		width: 4rem;
		height: 4rem;

		background-color: #FAFAFA;
		border: 1px solid #CCC;
		border-radius: 4px;
		transition: all 0.1s ease-in-out;

		cursor: pointer;

		&:hover {
			background-color: #EEE;
		}

		svg.svg-inline--fa {
			width: 100%;
			height: 100%;
		}
	}

	&__search-input {
		display: block;
		margin: 0.25rem;
		width: calc(100% - 0.5rem);
	}

	$highlight-color: #0b9f7d;
	&__list-item {
		display: flex;
		align-items: center;
		padding: 0.5rem 0.375rem;

		border-bottom: 1px solid rgba($highlight-color, 0.2);
		background-color: #FFF;

		cursor: pointer;

		box-shadow: 0 0 0 0 rgba($highlight-color, 0) inset;

		transition: box-shadow 0.05s ease-in-out;

		&:hover {
			background-color: rgba($highlight-color, 0.05);
			box-shadow: 0 0 0 0.125rem rgba($highlight-color, 0.2) inset;
		}

		&[data-is-selected="true"] {
			background-color: rgba($highlight-color, 0.1);
			box-shadow: 0 0 0 0.25rem rgba($highlight-color, 0.3) inset;
		}

		$icon-w: 3rem;
		&-icon {
			flex-shrink: 0;
			margin-right: 0.5rem;
			width: $icon-w;
			height: 100%;

			&.svg-inline--fa {
				width: $icon-w;
			}
		}

		&[data-is-selected="true"] &-icon * {
			fill: #0b9f7d;
		}

		&-name {
			flex-grow: 1;
			display: flex;
			align-items: center;

			color: #666;
		}

		&:hover &-name {
			color: #222;
		}

		&[data-is-selected="true"] &-name {
			color: $highlight-color;
		}
	}
}