.gecko-icon-box {
	display: inline-flex;

	&--full-width {
		display: flex;
	}

	&__icon-wrapper {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		padding: 1em 0.75em;

		text-decoration: none !important;
		color: inherit;

		i,
		svg {
			display: block;
			text-decoration: none;
		}
	}

	// Icon position
	&--position-above {
		flex-direction: column;
	}
	&--position-before &__icon-wrapper {
		order: 0;
		margin-right: 1em;
	}
	&--position-after &__icon-wrapper {
		order: 2;
		margin-left: 1em;
	}

	// Vertical alignment
	&--vertical-align-top &__icon-wrapper,
	&--vertical-align-top &__content-wrapper {
		justify-content: flex-start;
	}

	&--vertical-align-center &__icon-wrapper,
	&--vertical-align-center &__content-wrapper {
		justify-content: center;
	}

	&--vertical-align-bottom &__icon-wrapper,
	&--vertical-align-bottom &__content-wrapper {
		justify-content: flex-end;
	}

	// Horizontal alignment
	&--horizontal-align-left &__icon-wrapper {
		align-items: flex-start;
	}
	&--horizontal-align-center &__icon-wrapper {
		align-items: center;
	}
	&--horizontal-align-right &__icon-wrapper {
		align-items: flex-end;
	}

	// Hide Content setting
	&--hide-content#{&}--position-before &__icon-wrapper,
	&--hide-content#{&}--position-after &__icon-wrapper {
		margin-left: 0;
		margin-right: 0;
	}


	&__content-wrapper {
		order: 1;
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}