.gecko-accordion {

	&__title {
		position: relative;
		display: flex;
		align-items: center;

		&::-webkit-details-marker {
			display:none;
		}

		&__icon-wrapper,
		&__image-wrapper {
			position: absolute;
			left: 0;
			height: 50%;
			padding: 5px;
			max-width: 4rem;

			img {
				object-fit: contain;
				object-position: center;
				height: 100%;
			}
		}

		&__icon-wrapper--closed,
		&__image-wrapper--closed{
			top:0;
		}

		&__icon-wrapper--open,
		&__image-wrapper--open{
			top: 50%;
		}

		&__icon-wrapper--closed,
		&__image-wrapper--closed,
		&__icon-wrapper--open,
		&__image-wrapper--open {
			display:block;
		}
	}

	.components-base-control{
		width: 90%;
		margin-left: 5rem;

		label {
			font-weight: bold;
			font-size: 1.5em;
		}

		.components-3button {
			border: 1px solid black;
		}
	}
}