.gecko-accordion {

	&__title {
		position: relative;
		display: flex;

		&:focus {
			outline:none;
		}

		&:hover {
			cursor: pointer;
		}

		&::-webkit-details-marker {
			display:none;
		}
		&__icon-wrapper--closed,
		&__image-wrapper--closed{
			display:block;
		}
		&__icon-wrapper--open,
		&__image-wrapper--open {
			display: none;
		}
	}

	&[open] &__title &__title__icon-wrapper--open ,
	&[open] &__title &__title__image-wrapper--open {
		display: block;
	}
	&[open] &__title &__title__icon-wrapper--closed,
	&[open] &__title &__title__image-wrapper--closed{
		display: none;
	}
}