.gecko-google-reviews-popup {
    &__footer {
    }

    &__footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5em 1em 0.5em;
    }

    &__footer-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5em;
        padding: 0.25em 1em;

        color: #F9F9F9;
        font-size: 0.8em;
        font-weight: 300;

        border-radius: 0.25em;
        background-color: $color-link;

        &:active,
        &:visited,
        &:hover {
            color: #FFF;
            text-decoration: none;
        }
        &:hover {
            background-color: lighten($color-link, 5%);
        }

        &::after {
            display: inline-block;
            margin-left: 0.75em;

            // content: "\203A";
        }
    }
}