.gecko-google-reviews-popup {
    &__cover-image {
        position: relative;

        padding: 1rem;
        height: 160px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            content: "";

            background-image: linear-gradient(to bottom, rgba(#000, 0.1) 50%, rgba(#000, 0.5));
        }

        @media (max-height: 460px) {
            height: 100px;
        }
    }

    &__header-content {
        position: relative;

        padding: 1em;

        text-align: center;

        &--has-cover-image {
            padding-bottom: 0.5em;
        }
    }

    &__title {
        margin: 0 0 0.25rem;

        text-align: center;
        font-size: 1.4em;
        line-height: 1.2em;
    }
    &__header-content--has-cover-image &__title {
        padding-top: 1.25rem;
    }

    &__subtitle {
        margin: 0 0 0.25rem;

        color: #999;

        text-align: center;
    }

    &__stars {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    &__header-content--has-cover-image &__stars {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, calc(50% - 0rem));

        padding: 0.75rem 1.5rem;

        background-color: #FFF;
        border-radius: 200px;
        box-shadow: 0 1px 8px rgba(#000, 0.08);
    }

    &__value {
        // display: flex;
        display: none;
        align-items: center;
        margin: 0 1rem 0 0;

        font-size: 1.2em;
        font-weight: 300;
        color: #666;
    }

    $star: 1.5em;
    &__star {
        margin: 0 0.125rem;
        width: $star;
        height: $star;

        svg {
            display: block;

            width: 100%;
            height: 100%;

            path {
                fill: $color-star;
            }
        }
    }
}