.gecko-google-reviews-popup-reviews {
    flex-grow: 1;

    padding: 1em;
    max-height: 50vh;
    overflow: auto;

    background-color: #FFF;
}

.gecko-google-reviews-popup-review {
    display: flex;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    $avatar: 4em;
    &__avatar {
        flex-shrink: 0;
        margin-right: 1em;
        width: $avatar;
        height: $avatar;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__details {
        flex-grow: 1;
    }


    &__wrapper {
        display: flex;
        align-items: center;

        user-select: none;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin: 0 0 0.25em;
    }

    $star: 1.25em;
    &__star {
        margin: 0 0.1em;
        width: $star;
        height: $star;

        svg {
            display: block;

            width: 100%;
            height: 100%;

            path {
                fill: $color-star;
            }
        }
    }

    &__value {
        order: 2;
        display: none;
        align-items: center;
        justify-content: center;
        margin: 0 0.5em;

        font-size: 0.8em;

        color: #999;
    }

    &__text {
        font-size: 0.8em;

        color: #444;
    }

    &__author {
        margin-bottom: 0.25em;

        font-size: 0.8em;
        color: #999;
    }

    &__author-name {

        &[href] {
            color: $color-link;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__time-description:not(:first-child)::before {
        content: " - ";
    }
}