.gecko-google-reviews-popup {
    $window-bottom: 4em;
    &__window {
        position: fixed;
        z-index: 10005;
        bottom: $window-bottom;
        right: 1em;
        transform-origin: right bottom;
        transform: translateY(2rem) scale(0.9);

        display: flex;
        flex-direction: column;
        width: 400px;
        max-height: calc(100vh - #{$window-bottom + 1em});
        border-radius: 0.5rem;
        overflow: auto;
        box-shadow: 0 2px 4px rgba(#000, 0.3);

        background-color: #FFF;

        transition: all 0.1s ease-in-out 0.1s;
        opacity: 0;

        @media (max-width: 540px) {
            width: calc(100% - 2em);
        }
    }
    &[data-status="active"] &__window {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    $close-button: 1.6em;
    &__close-popup {
        position: absolute;
        z-index: 10010;
        top: 0.5rem;
        right: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: $close-button;
        height: $close-button;

        background-color: rgba(#000, 0.5);
        border-radius: $close-button;

        &:hover {
            background-color: rgba(#000, 0.85);
        }

        svg {
            display: block;
            width: #{$close-button * 0.5};
            height: #{$close-button * 0.5};

            * {
                fill: #FFF;
            }
        }
    }
}