@import "variables.scss";
.gecko-section {
	position: relative;
	display: flex;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.5s linear;
	&__inner {
		z-index: 3;
		padding: 1rem;
		flex-basis: 100%;
		max-width: 100%;
	}

	&.add-contrast {
		p,h1,h2,h3,h4,h5,h6,a {
			color: #FFF;
		}
	}

	&.is-align-center & {
		&__inner {
			align-self: center;
		}
	}

	&.is-align-bottom & {
		&__inner {
			align-self: flex-end;
		}
	}

	&.is-size-lg &{
		&__inner {
			flex-basis: 76.05rem;
		}
	}
	&.is-size-md &{
		&__inner {
			flex-basis: 63.6rem;
		}
	}
	&.is-size-sm &{
		&__inner {
			flex-basis: 53.33rem;
		}
	}

}