@import "variables.scss";
.gecko-section {
	position: relative;
	display: flex;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	border: dashed 1px pink;

	&.add-contrast {
		p,h1,h2,h3,h4,h5,h6,a {
			color: #FFF;
		}
	}

	&.is-align-center & {
		&__inner {
			align-self: center;
		}
	}
	&.is-align-bottom & {
		&__inner {
			align-self: flex-end;
		}
	}

	&.is-size-lg & {
		&__inner { flex-basis: 71.5rem;}
	}
	&.is-size-md & {
		&__inner { flex-basis: 61.5rem;}
	}
	&.is-size-sm & {
		&__inner { flex-basis: 51.5rem;}
	}
	&__inner {
		border: dashed 1px pink;
		z-index: 3;
		padding: 1rem;
		flex-basis: 100%;
	}
}