@import '../../lib/variables.scss';
.gecko-svg {
	font-size: 2rem;
	margin-bottom: 1rem;
	&.is-align-left { text-align: left;}
	&.is-align-center { text-align: center;}
	&.is-align-right { text-align: right;}
	&.is-size-sm{ font-size: 1em;}
	&.is-size-md{ font-size: 2.5em;}
	&.is-size-lg{ font-size: 3em;}
	&.is-size-xl{ font-size: 5em;}
	svg {
		position: relative;
		height: 1em;
		width: auto;
		margin-right: 0.25em;
		top: .125em;
	}
}
