@import '../../lib/variables.scss';
.wp-block-gecko-grid-layout {
	display: grid;
	grid-template-columns: repeat(12, minmax(1rem, 1fr));
	grid-gap: 1rem;
	grid-auto-rows: minmax(calc(100vw/12), auto);
	grid-auto-flow: dense;

	&--ie {
		display: -ms-grid;
		-ms-grid-columns: minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr);
		-ms-grid-rows: auto;
	}

	&--ie & {
		&__item {
			-ms-grid-column-span: 4;
			margin: 0.5rem;

			.wp-block-gecko-grid-layout-image {
				width: 100%;
			}
		}
	}

	&.is-style-no-gap {
		grid-gap: 0;
	}

	@media (max-width: $bp-tablet) {
		grid-template-columns: minmax(0px, 1fr) !important;
		grid-auto-rows: minmax(1px, auto) !important;
	}

	.align-content-center {
		align-self: center;
	}

	.align-content-top {
		align-self: start;
	}

	.align-content-bottom {
		align-self: end;
	}

	// @media (max-width: $bp-mobile) {
	// 	grid-template-columns: minmax(0px, 1fr) !important;
	// 	grid-auto-rows: minmax(1px, auto) !important;
	// }

	&__item {
		grid-column-end: span 4;
		grid-column-end: var(--grid-column-end);
		grid-row-end: span 1;
		grid-row-end: var(--grid-row-end);

		@media (max-width: $bp-tablet) {
			grid-column: 1 / -1 !important;
			grid-column-start: 1 !important;
			grid-column-end: -1 !important;
		}
	}
}