[data-blackout] {
	display: block;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgba(#000, 0.5);
	opacity: 0;
	transition: opacity 250ms linear;
	cursor: pointer;
}

[data-blackout="show"] {
	z-index: 99;
	opacity: 1;
	cursor: pointer;
	pointer-events: all;
}