/*
 * Stick the header below admin bar if user logged in
 */
.admin-bar {
	.header-desktop {
		&[data-header-sticky] {
			top: 32px;
		}
	}
}
/*
 * Header Desktop
 */
.header-desktop {
	svg {
		height: 1em;
		width: auto;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	padding: 0 0.5rem;
	background-color: rgba($color-black, 0.75);
	color: $color-white;

	@media (max-width: $bp-tablet) {
		display: none;
	}

	&[data-header-sticky] {
		position: fixed;
		z-index: 11;
		left: 0;
		right: 0;
		top: 0;
	}

	&[data-header-auto-hide] {
		transition: 500ms ease-in-out;
		&.header-auto-hide {
			top: -100%;
		}
	}

	&__logo {
		// height: 110px;
	}

	&__main {
		display: flex;
		height: 100%;
		align-items: center;
		@import './desktop-menu-primary';
		@import './desktop-menu-secondary';
	}
	&__search {
		display: flex;
		height: 100%;
		align-items: center;
		.reveal & {
			&-form {
				width: 200px;
			}
		}
		&-toggle{
			display: block;
			padding: 1rem;
			svg{height: 1rem; width: 1rem;}
			cursor: pointer;
		}
		&-form {
			width: 0px;
			overflow: hidden;
			justify-content: center;
			align-items: center;
			transition: all 500ms ease-in-out;
			input {
				padding: 0.5rem;
				background-color: $color-white;
			}
		}
	}
}