// Menu Entry
@keyframes menu-entry {
	0% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	40% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	60% { transform: scaleY(1) translate(0, 0); transform-origin: top center;}
	100% { transform-origin: top center;}
}

// Menu Entry
@keyframes menu-entry-offscreen {
	0% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	40% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	60% { transform: scaleY(1) translate(0, 0); transform-origin: top center;}
	100% { transform-origin: top center;}
}

.menu-primary{
	display: inherit;
	height: inherit;
	align-items: inherit;
	.menu {
		display: inherit;
		height: inherit;
		align-items: inherit;

		>.menu-item {
			position: relative;
			display: inherit;
			height: inherit;
			align-items: inherit;
			&.current-menu-item {
				>a {

					// color: $color-white;
					&:hover {
						// color: $color-white;
					}
				}
			}

			>a {
				position: relative;
				display: inherit;
				height: inherit;
				align-items: inherit;
				padding: 1rem 1.25rem;
				// Pipe between
				&:after {
					position: absolute;
					content: '';
					right: 0px;
					width: 1px;
					height: 2rem;
					background-color: $color-black;
				}
				&:not(:last-of-type) {
					
				}
			}
			&:last-child {
				>a {
					&:after {
						display: none;
					}
				}
			}

			&:hover {
				background-color: rgba($color-black, 15%);
				>.sub-menu {
					@include aria-show();
					position: absolute;
					animation-timing-function: ease-in-out;
					animation: menu-entry 1s 0s;

					&.offscreen {
						animation: menu-entry 1s 0s;
					}
				}
			}

			//Style Donate Buttons drop down;
			// 2nd Level drop down
			>.sub-menu {
				@include aria-hide();
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 2;
				min-width: 300px; //Sets width of submenus 100% for original
				background-color: $color-white;
				color: $color-black;
				&.offscreen {
					left: auto;
					right: 0;
				}

				a { 
					position: relative;
					display: block;
					padding: 1rem 1.25rem;
					&:hover {
						background-color: lighten($color-black, 80%);
					}
				}

				> .menu-item {
					display: block;

					&:not(:last-child) {
						// border-bottom: 1px solid $color-black;
					}
				}
			}
		}
	}
}