.menu-secondary{
	display: inherit;
	height: inherit;
	align-items: inherit;
	.menu {
		display: inherit;
		height: inherit;
		align-items: inherit;

		.menu-item {
			svg {
				position: relative;
				height: 1em;
				width: auto;
				margin-right: 0.25em;
				top: .125em;
			}
			display: inherit;
			height: inherit;
			align-items: inherit;
			padding: 0 0.25rem;
			&.current-menu-item {
				>a {

					// color: $color-white;
					&:hover {
						// color: $color-white;
					}
				}
			}

			&__link {
				&.outline{
					background-color: $color-white;
					color: $color-black;
					&:hover {
						background-color: darken($color-white, 5%);
					}
				}
				position: relative;
				padding: 1rem;
				background-color: $color-black;
				border: 2px solid $color-black;
				border-radius: 0.5rem;
				&:hover {
					background-color: lighten($color-black, 5%);
				}
				&:not(:last-of-type) {
					//border-bottom: 1px solid lighten($color-red, 5%);
				}
			}

		}
	}
}