.logo {
	display: flex;
	height: 100%;
	max-height: 100%;
	max-width: 200px;
	padding: 0 1rem;
	align-items: center;
	img {
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}
