.touch-menu {
	visibility: hidden;
	position: fixed;
	z-index: 999;
	left: -100%;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 80vw;
	max-width: 25rem;
	height: 100%;
	min-height: 100vh;
	background-color: $color-black;
	transition: all 0.1s ease-in-out;

	&--show {
		visibility: visible;
		left: 0;
	}

	&__navigation {
		flex-grow: 1;
		overflow-y: auto;
		color: $color-white;
		@import "./touch-menu-primary";
	}
}
