/*
 * Stick the header below admin bar if user logged in
 */
.admin-bar {
	.header-touch {
		&[data-header-sticky] {
			top: 46px;
		}
	}
}
.header-touch {
	&[data-header-sticky] {
		position: fixed;
		z-index: 99;
		left: 0;
		right: 0;
		top: 0;
	}
	&[data-header-auto-hide] {
		transition: 500ms ease-in-out;
		&.header-auto-hide {
			top: -100%;
		}
	}
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: rgba($color-black, 0.75);
	color: $color-white;

	@media (max-width: $bp-tablet) {
		display: flex;
	}

	&__toggle {
		position: relative;
		z-index: 99;
		cursor: pointer;
		padding: 1rem;
		&-box{
			position: relative;
			display: inline-block;
			width: 32px;
			height: 20px;
		}
		&-inner{
			position: absolute;
			left: 0;
			width: inherit;
			height: 4px;
			border-radius: 4px;
			background-color: #fff;
			top: 50%;
			margin-top: -2px;
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: inherit;
				height: 4px;
				border-radius: 4px;
				background-color: #fff;
				transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
			}
			&::before{
				top: -10px;
			}
			&:after{
				top: 10px;
			}
		}
		&.active &{
			&-inner {
				background-color: transparent;
				&::before {
					transform-origin: top left;
					transform: rotate(45deg);
				}

				&:after {
					transform-origin: bottom left;
					transform: rotate(-45deg);
				}
			}
		}
	}
}
