// Style of mobile menu.
.menu {
	position: relative;
	flex-direction: column;

	a {
		display: block;
		position: relative;
		width: 100%;
		padding: 1rem 1rem;
		color: $color-white;
		font-size: 1.5rem;
		border-bottom: 1px solid rgba(#fff, 0.25);

		&:hover {
			background-color: darken($color-black, 1%);
		}
	}

	//Style of Primary Menu
	>.menu-item {

		// The dropdown reveal
		// See touch-menu.js
		[data-gecko-mobile-action] {
			&::after {
				// @include fa-icon;
				// @extend .fas;
				// content: fa-content($fa-var-angle-down);
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				right: 0;
				top: 0;
				height: 100%;
				width: 50px;
			}
		}

		[data-gecko-mobile-action="show"] {
			&::after {
				// content: fa-content($fa-var-angle-up);
			}
		}

		&.show-sub-menu {
			>.sub-menu {
				display: flex;
			}
		}

		//Style drop down;
		.sub-menu {
			display: none;
			top: 100%;
			width: 100%;
			flex-direction: column;
			background-color: lighten($color-black, 50%);

			a {
				font-size: 1.2rem;

				&:hover {
					background-color: lighten($color-black, 45%);
				}
			}
		}
	}
}