// Base Black & White
$color-black: #222;
$color-white: #FAFAFA;

// Notices
$color-error: #d32f2f;
$color-success: #689f38;
$color-notice: #0288d1;

// Mobile Breakpoints
// Preface = $bp-
// Followed by name and then the modifier.
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop-small: 1200px;
$bp-desktop: 1369px;
$bp-desktop-large: 1600px;

// Use this instead of display none
@mixin aria-hide() {
	//Accessiblity Hidding
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

// Resets the element from aria-hide() but you might have to set the position;
@mixin aria-show() {
	//Accessiblity override
	clip: auto;
	height: auto;
	width: auto;
	margin: auto;
	overflow: visible;
	border: normal;
	position: static;
}

// Menu Entry
@keyframes gecko-menu-entry {
	0% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	40% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	60% { transform: scaleY(1) translate(0, 0); transform-origin: top center;}
	100% { transform-origin: top center;}
}

// Menu Entry
@keyframes gecko-menu-entry-offscreen {
	0% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	40% { transform: scaleY(0) translate(0, 0); transform-origin: top center;}
	60% { transform: scaleY(1) translate(0, 0); transform-origin: top center;}
	100% { transform-origin: top center;}
}