.gecko-slideshow-preview {
	position: relative;

	margin: 0 auto 2em;
	width: 460px;

	box-sizing: border-box;
	* { box-sizing: inherit; }

	header {
		margin: 0 0 0.5em;
		padding: 0.25em 0.5em;

		border-radius: 0.5em;
		background-color: #EEE;

		font-size: 0.9em;
		text-align: center;
	}

	&__slide {
		position: relative;
		display: flex;
		flex-direction: column;

		padding: 1.5em;
		height: 280px;

		&--pagination {
			padding-bottom: 2em;
		}

		&--nav-arrows {
			padding-left: 3em;
			padding-right: 3em;
		}

		&[data-vertical-align="top"] {
			justify-content: flex-start;
		}
		&[data-vertical-align="center"] {
			justify-content: center;
		}
		&[data-vertical-align="bottom"] {
			justify-content: flex-end;
		}

		&::before {
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			content: "";
		}

		@for $opacity from 0 to 11 {
			&--opacity-#{$opacity}::before {
				opacity: #{($opacity * 10) / 100};
			}
		}
	}

	&__image {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__content {
		position: relative;
		z-index: 5;

		// margin: 1em;
		width: 50%;
		height: 3em;

		background-color: rgba(#333, 0.8);

		&[data-add-contrast="true"] {
			background-color: rgba(#DDD, 0.8);
		}
	}

	.swiper-pagination {
		bottom: 1em;

		display: flex;
		justify-content: center;
		padding: 0 1.5em;

		&--nav-arrows {
			padding-left: 3em;
			padding-right: 3em;
		}

		&-bullet {
			flex-shrink: 0;
			width: 0.5em;
			height: 0.5em;

			background-color: #AAA;
			opacity: 0.7;

			border: none;
			border-radius: 0.5em;

			&-active {
				opacity: 1;
				background-color: #CCC;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: flex;
		align-items: center;
		justify-content: center;

		background-image: none;

		text-align: center;
		font-size: 2em;
		color: #AAA;
		text-shadow: 0 1px 1px rgba(#555, 0.1);
	}
}