.gecko-google-reviews-popup {
    &--plugin-font {
        @include pluginFonts();
    }

    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: left top;

    width: 100vw;
    height: 100vh;

    &[data-status="active"] {
        transform: scaleY(1);
    }

    &__overlay {
        position: fixed;
        z-index: 10004;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: 0;

        transition: opacity 0.2s ease-in-out;

        background-color: rgba(#000, 0.2);
    }
    &[data-status="active"] &__overlay {
        opacity: 1;
    }
}

@import 'popup/window';

@import 'popup/header';

@import 'popup/reviews';

@import 'popup/footer';
