.gecko-google-reviews-widget {
    &--plugin-font {
        @include pluginFonts();
    }

    position: fixed;
    z-index: 10000;
    bottom: 1rem;
    right: 1rem;

    display: block;
    padding: 0.5em 0.25em;

    background-color: rgba(#FFF, 0.9);
    transition: background 0.1s ease-in-out;

    border-radius: 0.125rem;
    box-shadow: 0 1px 5px rgba(#000, 0.2);

    cursor: pointer;

    &:hover {
        background-color: rgba(#FFF, 1);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin: 0 0 0.25em;
        padding: 0 0.25em;

        user-select: none;
    }

    &__logo {
        margin-left: 10%;
        width: 80%;
        height: 0;
        padding-bottom: 16%;
        // height: 1.2em;

        background-image: url(../images/Google_logo.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;
        padding: 0 0.125em;

        font-size: 0.8em;
        line-height: 1em;

        color: #999;
    }

    $star: 0.9em;
    &__star {
        // margin: 0 0.1rem;
        width: $star;
        height: $star;

        svg {
            display: block;

            width: 100%;
            height: 100%;

            path {
                fill: $color-star;
            }
        }
    }
}