@import '../../lib/variables.scss';
.gecko-grid-layout-card {
	position: relative;
	z-index: 1;
	min-height: 200px;
	padding: 2rem 1rem;
	border-radius: 0.5rem;


	&.is-style-no-caption & {
		&__caption {
			opacity: 0;
		}
	}

	&.is-style-hover & {
		&__caption {
			opacity: 0;
			transition: all 250ms ease-in-out;
		}
	}

	&.is-style-hover {
		&:hover {
			.gecko-grid-layout-image__caption {
				opacity: 1;
			}
		}
	}
}
