@import "../../lib/variables.scss";

.wp-block-gecko-slide-video {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	// Opacity class
	@for $opacity from 0 to 11 {
		&--opacity-#{$opacity} &__overlay,
		&--opacity-#{$opacity} &-overlay {
			opacity: #{($opacity * 10) / 100};
		}
	}

	@for $v-padding from 1 to 6 {
		&--vertical-padding-#{$v-padding} {
			padding-top: #{$v-padding * 2}rem;
			padding-bottom: #{$v-padding * 2}rem;
		}
	}

	&__overlay,
	&-overlay {
		position: absolute;
		z-index: 10;
		left: 0;
		top: 0;

		display: block;
		width: 100%;
		height: 100%;
	}

	&--add-contrast {
		p,
		cite,
		&[href],
		h1, h2, h3, h4, h5, h6 {
			color: $color-white;

			* { color: inherit; }
		}

		.wp-block-button.is-style-squared-outline,
		.wp-block-button.is-style-outline {
			.wp-block-button__link {
				box-shadow: 0 0 0 2px $color-white inset;

				color: $color-white;

				background-color: transparent;

				&:hover {
					background-color: rgba($color-white, 0.2);
				}
			}
		}

		.wp-block-button.is-style-link {
			.wp-block-button__link {
				color: $color-white;
			}
		}
	}

	&--full-height {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&--vertical-align {
		&-top {
			justify-content: flex-start;
		}
		&-center {
			justify-content: center;
		}
		&-bottom {
			justify-content: flex-end;
		}
	}

	&--row-width {
		&-large,
		&-half-left,
		&-half-center,
		&-half-right {
			> .editor-inner-blocks {
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				max-width: $default-row-width;
			}
		}
		&-half-left > .editor-inner-blocks {
			padding-right: 25%;
		}
		&-half-center > .editor-inner-blocks {
			padding-right: 15%;
			padding-left: 15%;
		}
		&-half-right > .editor-inner-blocks {
			padding-left: 25%;
		}
	}

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__video,
	&-video {
		position: absolute;
		z-index: 5;
		left: 0;
		top: 0;

		display: block;
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;
	}

	.editor-inner-blocks,
	.wp-block-gecko-slide-video { //inner-blocks
		position: relative;
		z-index: 20;
	}
}


.block-editor-block-list__layout {
	.wp-block-gecko-slideshow.wp-block-gecko-slideshow--full-height {
		.wp-block-gecko-slide-video {
			min-height: 80vh;
		}
	}
}


.wp-block-gecko-slide-video {
	height: 100%;
}

.block-editor-block-list__block {
	.wp-block-gecko-slide-video {
		padding: 1em;
	}
}