@import "../../lib/variables.scss";

.gecko-slideshow__slide-video {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&.swiper-slide {
		height: auto;
	}

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	box-sizing: border-box;
	* { box-sizing: inherit; }

	// Opacity class
	@for $opacity from 0 to 11 {
		&--opacity-#{$opacity} &-overlay {
			opacity: #{($opacity * 10) / 100};
		}
	}

	// > * {
	.wp-block-gecko-slide-video {
		position: relative;
		z-index: 20;
	}

	&-overlay {
		position: absolute;
		z-index: 10;
		left: 0;
		top: 0;

		display: block;
		width: 100%;
		height: 100%;
	}

	&-video {
		position: absolute;
		z-index: 5;
		left: 0;
		top: 0;

		display: block;
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;
	}

	&--vertical-align {
		&-top {
			justify-content: flex-start;
		}
		&-center {
			justify-content: center;
		}
		&-bottom {
			justify-content: flex-end;
		}
	}




	.wp-block-gecko-slide-video {
		@media (max-width: #{$default-row-width + 2}) {
			margin-left: 1em;
			margin-right: 1em;
		}
	}
	&--row-width-full {
		.wp-block-gecko-slide-video {
			width: 100%;
		}
	}

	$default-pad: 1em;
	padding: $default-pad;


	&--add-contrast {
		p,
		cite,
		&[href],
		h1, h2, h3, h4, h5, h6 {
			color: $color-white;

			* { color: inherit; }
		}

		.wp-block-button.is-style-squared-outline,
		.wp-block-button.is-style-outline {
			.wp-block-button__link {
				box-shadow: 0 0 0 2px $color-white inset;

				color: $color-white;

				background-color: transparent;

				&:hover {
					background-color: rgba($color-white, 0.2);
				}
			}
		}

		.wp-block-button.is-style-link {
			.wp-block-button__link {
				color: $color-white;
			}
		}
	}

	&--row-width {
		&-large,
		&-half-left,
		&-half-center,
		&-half-right {
			.wp-block-gecko-slide-video {
				width: 100%;
				padding-top: $default-pad;
				padding-bottom: $default-pad;
				padding-left: calc(50% - #{($default-row-width - 2) / 2});
				padding-right: calc(50% - #{($default-row-width - 2) / 2});

				@media (max-width: #{$default-row-width + 2}) {
					width: calc(100% - 2em);
				}
			}
		}
		&-large {
			padding: $default-pad;
		}

		@media (min-width: 901px) {
			&-half-left .wp-block-gecko-slide-video {
				width: 50%;
				padding-right: $default-pad;
			}
			&-half-center .wp-block-gecko-slide-video {
				padding-right: 25%;
				padding-left: 25%;
			}
			&-half-right .wp-block-gecko-slide-video {
				margin-left: 50%;
				padding-left: $default-pad;
				width: 50%;

				@media (max-width: #{$default-row-width + 2}) {
					width: calc(50% - #{$default-pad});
				}
			}
		}
	}
}
