.gecko-button-row {
	.block-editor-block-list__layout .block-editor-default-block-appender > .block-editor-default-block-appender__content,
	.block-editor-block-list__layout > .block-editor-block-list__block > .block-editor-block-list__block-edit,
	.block-editor-block-list__layout > .block-editor-block-list__layout > .block-editor-block-list__block > .block-editor-block-list__block-edit {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;

		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	.block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-drop-zone {
		margin: 0;
	}

	.editor-inner-blocks,
	.wp-block-gecko-button-row,
	.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.block-editor-block-list__layout .block-editor-block-list__block {
		padding-left: 0;
		padding-right: 0;

		width: auto !important;
	}

	.wp-block.editor-block-list__block.block-editor-block-list__block {
		margin-left: 0;
		margin-right: 0;
	}

	.editor-styles-wrapper .wp-block-button {
		// margin: 0 !important;
		margin-top: 0;
		margin-bottom: 0;

		&__link {
			margin: 0;
		}
	}

	&--horizontal {
		&-left {
			justify-content: flex-start;

			.editor-inner-blocks,
			.wp-block-gecko-button-row,
			.block-editor-block-list__layout {
				justify-content: flex-start;
			}

			.editor-styles-wrapper .wp-block-button {
				margin: 0;
				&__link { margin: 0; }
			}
		}
		&-center {
			justify-content: center;

			.editor-inner-blocks,
			.wp-block-gecko-button-row,
			.block-editor-block-list__layout {
				justify-content: center;
			}

			.editor-styles-wrapper .wp-block-button {
				margin: 0;
				&__link { margin: 0; }
			}
		}
		&-right {
			justify-content: flex-end;

			.editor-inner-blocks,
			.wp-block-gecko-button-row,
			.block-editor-block-list__layout {
				justify-content: flex-end;
			}

			.editor-styles-wrapper .wp-block-button {
				margin: 0;
				&__link { margin: 0; }
			}
		}
	}
}