@import "../../lib/variables.scss";

.gecko-button-row {
	.wp-block-gecko-button-row {
		display: flex;
		flex-wrap: wrap;
	}

	.wp-block-button,
	.button {
		margin: 0 1em 1em 0;
		&__link { margin: 0; }
	}

	&--horizontal {
		&-left .wp-block-gecko-button-row {
			justify-content: flex-start;
		}
		&-center .wp-block-gecko-button-row {
			justify-content: center;

			.wp-block-button,
			.button {
				margin: 0 0.5em 1em;
				&__link { margin: 0; }
			}
		}
		&-right .wp-block-gecko-button-row {
			justify-content: flex-end;

			.wp-block-button,
			.button {
				margin: 0 0 1em 1em;
				&__link { margin: 0; }
			}
		}
	}
}